.req {
    &__card {
        display: flex;
        overflow: hidden;

        &_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &--background {
            background: #ffffff;
            padding: 30px;
            border-radius: 30px;
            box-shadow: 0 0 5px 5px #00000013;
            display: block;
            margin: 20px auto 40px;
            width: 800px;
        }
    }

    &__title {
        @include baseText(18px);
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: 700;
    }
    &__center{
        text-align: center;
    }
    &__text {
        @include baseText(18px);
        color: rgb(77, 77, 77);
        text-align: center;
        font-weight: 400;
        & > span{
            color: var(--deepGray);
        }
    }

    &__row {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-child {
            font-size: 20px;
            font-weight: 400;

            &>p {

                &:nth-child(1) {
                    color: var(--gray);
                    display: none;

                }

                &:nth-child(2) {
                    font-size: 28px;
                    font-weight: 700;
                    color: var(--black);
                    // color: var(--mainColor);
                    padding-bottom: 14px;
                    border-bottom: 2px solid #d6d6d6;
                }
            }
        }

    }

    &__phone {
        border: 3px solid red;
        margin: auto;
        width: 500px;
        height: 140px;
        margin: 50px auto 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>p {
            font-weight: 700;
            font-size: 20px;

            &:nth-child(2) {
                font-size: 28px;
            }
        }
    }
}

@media screen and (max-width: $mediaQuery2) {
    .req{
        &__card{
            width: var(--width);
        }
    }
}